@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    section#login{
        width: 80vw;
    }

    section#login > div#imagem{
        width: 40%;
        height: 100%;
        float: left;
    }
    section#login > div#formulario{
        float: right;
        width: 60%;
    }
}

@media screen and (min-width:992px){
    section#login {
        width: 800px;
    }
    section#login > div#imagem{
        width: 40%;
        height: 100%;
        float: right;
    }
    section#login > div#formulario{
        width: 60%;
        float: right;
    }
}